@{
    ViewData["Title"] = "About";
}

<h1>@ViewData["Title"]</h1> 

<p>Listado de Alumnos, matriculados en la SEDE Osorno</p>

<table class="table table-responsive table-bordered" >

    <thead>
        <th>Rut</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Ciudad</th>
        <th>Sexo</th>  
        <th></th>
    </thead>
    <tbody>
        <tr><td>16.113.456-2</td><td>Ivan</td><td>Peters</td><td>Osorno</td><td>Hombre</td><td></td></tr>
        <tr><td>16.113.456-2</td><td>Ivan</td><td>Peters</td><td>Osorno</td><td>Hombre</td><td></td></tr>
        <tr><td>16.113.456-2</td><td>Ivan</td><td>Peters</td><td>Osorno</td><td>Hombre</td><td></td></tr>
        <tr><td>16.113.456-2</td><td>Ivan</td><td>Peters</td><td>Osorno</td><td>Hombre</td><td></td></tr>
        <tr><td>16.113.456-2</td><td>Ivan</td><td>Peters</td><td>Osorno</td><td>Hombre</td><td></td></tr>
        <tr><td>16.113.456-2</td><td>Ivan</td><td>Peters</td><td>Osorno</td><td>Hombre</td><td></td></tr>

    
    </tbody>
</table>
